.App {
  text-align: center;
  background: #db7093;
  width: 40%;
  display: block;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 8rem;
  box-shadow: 5px 5px #b53960;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #b53960;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button{
  width: 30%;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:2px solid #b53960;
	display:inline-block;
	cursor:pointer;
	color:#b53960;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

button:active {
	position:relative;
	top:1px;
}